<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>File Upload</title>
	<meta charset="ISO-8859-1">
 	<meta name="viewport" content="width=device-width" />
 	<link rel="stylesheet" href="CSS/upload_style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">
</head>
<body>
<header></header>
<div align="justify">
    <h1>Brumby Code Checker</h1>
	<div class="outline-block">
	    <p> This is a simple redundancy code scanner that can be used to find and flag duplicated code.
	    	The code checker uses the SabbleCC compiler and a multi-dimensional similarity heuristic. 
	    	
	    <p>	It functions by running three independent similarity algorithms and computes a weighted average of those three scores: cosine similarity, 
	    	an ordered Naive 1-to-1 similarity, and a longest common subsequence algorithm. It tokenizes the code by renaming variables to an identifier,
	    	while discarding comments, white spaces and unknown tokens.</p>
	
	    <p> The application currently works on Java and C++. </p>	
    </div>
    
 	<form method="post" class="file-uploader" th:action="@{/upload}" enctype="multipart/form-data" th:object="${input}">
        <div class="input-area">
	        <label>Specify percent:</label>
	        <input type="number" th:field="*{percent}" min="0" max="100" />%<br/>
	        
	        <label>Select the language extension:</label>
	 		<select name="lang" th:field="*{language}">
	    		<option th:each="lang : ${progLang}" th:value="${lang}" th:text="${lang}" />
	    	</select>
    	</div>
    	
       <div class="file-chooser">
       		<input type="file" name="files"  accept=".java, .ada, .cpp, .h" multiple/>
       </div>
       <button class="submit-button" type="submit" value="Upload">Upload</button>
    </form>
</div>

<footer>Website by Denisha Pimentel</footer>
</body>
</html>